.elementor-kit-7{--e-global-color-primary:#FFFFFF;--e-global-color-secondary:#232323;--e-global-color-text:#3C3C3C;--e-global-color-accent:#956BD1;--e-global-color-c6d17b4:#232323;--e-global-color-bf1004c:#7E78D9;--e-global-typography-primary-font-family:"Poppins";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Poppins";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Poppins";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Poppins";--e-global-typography-accent-font-weight:500;background-color:#FFFFFF;color:var( --e-global-color-text );}.elementor-kit-7 button,.elementor-kit-7 input[type="button"],.elementor-kit-7 input[type="submit"],.elementor-kit-7 .elementor-button{background-color:var( --e-global-color-accent );color:var( --e-global-color-c6d17b4 );border-style:solid;border-color:var( --e-global-color-c6d17b4 );}.elementor-kit-7 a{color:var( --e-global-color-bf1004c );}.elementor-kit-7 a:hover{color:var( --e-global-color-c6d17b4 );}.elementor-kit-7 h1{color:var( --e-global-color-text );}.elementor-kit-7 h2{color:var( --e-global-color-text );}.elementor-kit-7 h3{color:var( --e-global-color-c6d17b4 );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1170px;}.e-con{--container-max-width:1170px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}
/*
     FILE ARCHIVED ON 09:21:27 Jul 03, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:42:14 Feb 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.568
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.009
  esindex: 0.015
  cdx.remote: 58.084
  LoadShardBlock: 87.023 (3)
  PetaboxLoader3.datanode: 145.692 (5)
  load_resource: 464.0
  PetaboxLoader3.resolve: 172.826
  loaddict: 269.964
*/